---
import { getCollection } from "astro:content";
import { sub } from "date-fns";
import IndexLink from "../components/IndexLink.astro";
import Layout from "../layouts/Layout.astro";

const showDraftsInDev = true;
const isDev = import.meta.env.DEV;

const posts = (await getCollection("posts"))
    .filter((p) => isDev || !p.id.startsWith("test/"))
    .filter((p) => (isDev && showDraftsInDev) || !p.data.draft)
    .filter((p) => new Date(p.data.timestamp) > sub(new Date(), { years: 3 }))
    .sort(
        (a, b) =>
            new Date(b.data.timestamp).getTime() -
            new Date(a.data.timestamp).getTime(),
    );
---

<Layout title="t3hmun" home={true}>
    <main class="container mx-auto">
        <p class="mx-auto max-w-lg text-center text-xl my-8">
            <span class="text-amber-900 dark:text-amber-100 font-semibold"
                >Welcome to the latest incarnation of Manish's website.
            </span>
        </p>
        <p class="mx-auto max-w-lg text-center text-xl my-8">
            I use this site for messing around with code and occasionally try
            and write out some of my thoughts.
        </p>
        <h2
            class="my-6 mx-auto max-w-4xl text-center text-4xl font-semibold dark:text-amber-400"
        >
            Recent Articles
        </h2>
        <ul
            class="mx-auto grid max-w-4xl grid-cols-1 gap-4 px-1 lg:grid-cols-1"
        >
            {
                posts.map((p) => (
                    <li class="mb-2 p-4 bg-dark-bg2">
                        <IndexLink
                            timestamp={p.data.timestamp}
                            title={p.data.title}
                            description={p.data.description}
                            url={`/posts/${p.slug}`}
                        />
                    </li>
                ))
            }
        </ul>
        {
            posts.length === 0 && (
                <p class="text-center">Nothing in the last year.</p>
            )
        }
    </main>
</Layout>
